body{
    background-color: #050517;
    font-family: azo-sans-web,sans-serif;
}

h3 {
    font-family: "adore-you", sans-serif;
    color: white;
    letter-spacing: 0.25rem;
    text-align: center;
}
.design {
    display: flex;
    flex-direction: row-reverse;
    z-index: -2;
}
.pinkdots {
    position: absolute;
    margin-top: 6%;
    height: 12vh;
    z-index: -1;
}

.aboutme {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.woman {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: solid 1px #F2E86D;
}

.bio {
    color: white;
}

.aboutmeimages {
    margin-top: 6rem;
    width: 70%;
    border: solid 1px #F2E86D;
}