body{
    background-color: #050517;
}

.design {
    display: flex;
    flex-direction: row-reverse;
    z-index: -2;
}
.pinkdots {
    margin-top: 10%;
    height: 25%;
    width: 25%;
    z-index: -1;
}

.aboutme {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.woman {
    width: 100%;
    height: 100%;
}

