body {
    background-color: #050517;
    height:100vh;
    overflow-x: hidden;
    font-family: azo-sans-web,sans-serif;
    
    }
    
.navbar a{
font-family: azo-sans-web,sans-serif;
font-weight: 400;
font-style: normal;
}

.form-control {
    border-radius: 33px;
}


@media screen and (min-width: 768px) {
    body { background: linear-gradient(to right, #050517 20%, #D9DBF1 0%); }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .gallery__column {max-width: 20%; }
}

.logo {
    display: flex;
    text-align: center;
}

