body {
    background-color: #050517;
    height:100vh;
    overflow-x: hidden;
    font-family: azo-sans-web,sans-serif;  
    }
.container {
     max-width: unset;
}

.navbar a{
font-family: azo-sans-web,sans-serif;
font-weight: 400;
font-style: normal;
}

.form-control {
    border-radius: 33px;
}

.tab {
    position: fixed;
    flex-direction: column;
    width: 20%;
    height: 100vh;
    z-index: 1030;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    text-align: center;
}

.intro {
    color: white;
    font-size: 0.75rem;
    text-align: center;
}

h4 {
    text-align: center;
    color: #A9B5C6;
   
}

h3 {
    color: white;
    font-family: azo-sans-web,sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 1.25rem;
}

h5 {
    margin-top: 20%;
    color: white;
}

.btn-warning, .btn-warning:active, .btn-warning:visited {
    background-color: #FADF63 !important;
}

.btn-warning:hover {
    background-color: white !important;
    border: solid #FADF63;
    color: #050517;
}

.social {
    font-size: 0.8rem;
    color: white;
}

.social_media {
    font-size: 1rem;
    color:#FADF63;
}

#subscribeModal {
z-index: 1020;
}

.modal-title {
    color: #050517;
    font-weight: 400;
}

@media screen and (min-width: 992px) {
    body { background: linear-gradient(to right, #050517 20%, #8797AF 0%); }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .gallery__column {max-width: 20%; }
}